.logo{
width: 3.5rem;
height: auto;
}
#kategoriak-btn{
    margin-left: 1rem;
}
#kategoriak-icon{
    margin-right: 0.5rem;
}
#nav-top{
    background-color: #D5AD56;
}
#nav-buttom{
    background-color: #F7E19E;
    margin-bottom: 3rem;
}